<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    colors="true"
    bootstrap="tests/bootstrap.php"
    cacheResultFile=".phpunit.result.cache"
    cacheResult="false"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/Fp/Functional</directory>
            <directory suffix=".php">src/Fp/Functions</directory>
            <directory suffix=".php">src/Fp/Collections</directory>
            <directory suffix=".php">src/Fp/Operations</directory>
            <directory suffix=".php">src/Fp/Streams</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
